/* ==== 
 --------- (5.01) partner section styles start ---------
 ==== */

.partner {
  padding: 80px 0px;
  background-color: #edeeef;
  .partner__slider-single {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 95px;

    > span,
    picture {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    img {
      height: 95px !important;
      width: auto !important;
      max-height: 95px;
      object-fit: contain;
    }
  }
}

/* ==== 
 --------- (5.01) partner section styles end ---------
 ==== */
